<div class="content-big-card">

    <div class="big-card-photo">
        
     <img src="https://i.ytimg.com/vi/yHTnwYatNKw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA8e5w4zfn-S4GczyAIb2WO7obzaQ" alt="" srcset="">
    </div>

    <div class="big-card-title">
        <span style="color: rgb(101, 101, 100); font-size: 20px;">autor</span>
        <h1 style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>

    </div>

    <div class="big-card-description">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque neque quod laborum, nihil maxime itaque inventore corporis iste saepe harum! Nulla fuga, dolorem eveniet assumenda eum asperiores unde atque. Fugiat!</p>

    </div>



</div>