<div class="content-big-card" (click)="navigateToArticle()">

    <div class="big-card-photo">
        
     <img [src]="photoCover"
      [alt]="title" srcset="" >

    </div>

    <div class="big-card-title">
        <div class="article-meta">
            <span class="author">{{ author }}</span>
            <span class="separator">•</span>
            <span class="date">{{ getFormattedDate() }}</span>
            <span class="separator">•</span>
            <span class="read-time">{{ readTime }}</span>
        </div>
        <h1 class="title">{{ title }}</h1>

    </div>

    <div class="big-card-description">
        <p>{{ description }}</p>
        <div class="read-more">
            <span>Clique para ler mais →</span>
        </div>
    </div>

</div>